html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.dropdown-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #b3b3b3;
    color: #007bff;
}

.dropdown-item:active {
    transform: scale(0.95);
}

.social-icons i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: transform 0.2s ease, color 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.5);
    color: #007bff;
}