:root {
    /*--background-color: #f8f9fa;*/
    --background-color: #ecedee;
    --text-color: #212529;
}

div.card {
    --bs-card-bg: #f9f9f9 !important;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#navbarSupportedContent {
    margin-left: 20 !important;
}

[id^="btn"]:hover::after {
    content: attr(data-tooltip); /* Toma el texto del atributo data-tooltip */
    position: absolute;
    bottom: 125%; /* Coloca el tooltip arriba del botón */
    left: 50%;
    transform: translateX(-50%); /* Centra el tooltip */
    background-color: #555; /* Fondo del tooltip */
    color: #fff; /* Color del texto */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* Evita que el texto se divida */
    opacity: 1; /* Hace visible el tooltip */
    transition: opacity 0.3s; /* Transición suave */
    visibility: visible; /* Asegura que sea visible */
}

[id^="btn"]::after {
    visibility: hidden; /* Oculto por defecto */
    opacity: 0; /* Totalmente transparente */
    transition: opacity 0.3s; /* Transición suave */
}



/* Estilos para el tema oscuro */
.dark-theme {
    --background-color: #b3b3b3;
    --text-color: #2d2d2d;

    .btn.btn-primary {
        /* background-color: #676767 !important;
        border-color: #676767 !important;*/

        background-color: #7a8284 !important; /* test colors v2*/
        border-color: #7a8284 !important;
        color: #e0e0e0 !important;
    }

    .btn.btn-secondary {
        /* background-color: #5D666E !important;
        border-color: #5D666E !important;*/

        background-color: #6b8385 !important; /* test colors v2*/
        border-color: #6b8385 !important;
        color: #e0e0e0 !important;
    }

    .btn.btn-warning {
        /*  background-color: #CF914D !important;
        border-color: #CF914D !important;*/

        background-color: #d7b88a !important; /* test colors v2*/
        border-color: #d7b88a !important;
    }

    #btnProduct {
        color: #e0e0e0 !important;
        position: relative;
    }

    .btn.btn-danger {
        /*  background-color: #bf1828 !important;
        border-color: #bf1828 !important;*/

        background-color: #d84a4e !important; /* test colors v2*/
        border-color: #d84a4e !important;
    }

    div.card {
        --bs-card-bg: #ecedee !important;
        /*--bs-card-bg:#BEBEBE!important;*/
    }
}

.dark-theme-dropdown {
    background-color: #afadad !important;
}

.dark-theme-card {
    /*background-color: #A9A9A9 !important;*/
    color: #474554;

    /*border-color: #8c8c8c !important;*/
}
